<div>
    <p>{{challenge.puzzle_instance.puzzle.title}}</p>
    <p>{{challenge.puzzle_instance.puzzle.statement}}</p>
    <div ng-click="$event.preventDefault()" ng-repeat="test in tests">
        <p>
        <table class="test">
            <tr>
                <td>
                    {{test.input}}
                </td>
            </tr>
            <tr ng-class="{test_fail : test.attempted_by_user}" ng-hide="test.solved_by_user">
                <td>
                    <input ng-model="output"/>
                    <button ng-click="$parent.submit(test.id, output)">Submit</button>
                </td>
            </tr>
            <tr class="test_ok" ng-show="test.solved_by_user">
                <td>
                    You've solved this test case correctly!
                </td>
            </tr>
            <tr>
                <td ng-show="!test.attempted_by_enemy">
                    Your opponent hasn't attempted this yet.
                </td>
                <td class="test_fail" ng-show="test.attempted_by_enemy">
                    Your opponent hasn't attempted this yet.
                </td>
                <td class="test_ok" ng-show="test.solved_by_enemy">
                    Your opponent has solved this test case!
                </td>
            </tr>
        </table>
        </p>
    </div>
</div>
