/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.all {
    font-family: "Courier New";
}

.test {
    background-color: #6694FE;
    border-spacing: 5pt 5pt;
    border-collapse: separate;
    color: white;
}

.test a {
    text-decoration: none;
}

.test .test_none {
    background-color: #6694FE;
}

.test .test_ok {
    background-color: #96E74A;
}

.test .test_fail {
    background-color: #ED3245;
}

.test .test_enemy_none {
    background-color: #B0548C;
}

.test .test_enemy_ok {
    background-color: #B0548C;
}

.test .test_enemy_fail {
    background-color: #B0548C;
}

.challenge:hover {
    background-color: #A9BDD6;
    cursor: pointer;
}

.navtable {
    background-color: #6888b0;
    width: 100%;
    height: 40pt;
    text-align: center;
    font-size: 200%;
    color: white;
    font-weight: bold;
}

.navcell {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    height: 60%;
}

.navcell:hover {
    background-color: #D492FC;
    cursor: pointer;
}

.selectednavcell {
    background-color: #A9BDD6;
}

.selectednavcell:hover {
    background-color: #A9BDD6;
    cursor: auto;
}

.newchallenged:hover {
    background-color: #A9BDD6;
    cursor: pointer;
}
